extends partial/layout

block site_title
  != '搜索 · ' + config.title

block description
  - var desc = '搜索页面 - ' + config.title;
    meta(name="description", content=desc)

block content
  .autopagerize_page_element.content.post-page.animated.fadeInDown
    !=list_tags(site.tags,{show_count: false})